html {
	height: 100%;
}

body{
	background-color: #FFFFFF;
	background-image: url("bkg/bw.png");
	background-size: cover;
	background-attachment: fixed;
	display:block;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.text{
	position:fixed;
	min-height: 10vh;
	min-width: 10vw;

	right:15vw;
	left:15vw;
}

#inst{
	position: absolute;
	margin-left: 50%;
	font-weight: 100;
	transform: translate(-50%, 60vh);
}

.selection{
	position: fixed;
	min-height: 5px;
	min-width: 0.2vw;
	width: 70vw;
	z-index: 1;

	top:40%;
	bottom: 40%;
	vertical-align: center;
	right: 15vw;
	margin: auto;
}

#champion{
	position: absolute;
	height: 3vw;
	width: 11vw;

	text-align: center;

	font-size: 2vw;
	color: black;
	line-height: 150%;

	top: 50%;
  	right: 64%;
  	transform: translate(50%, -50%);
}

#region{
	position: absolute;
	height: 3vw;
	width: 11vw;

	text-align: center;

	font-size: 2vw;
	color: black;
	line-height: 150%;

	top: 50%;
  	right: 50%;
  	transform: translate(50%, -50%);
}

#btn{
	position: absolute;
	min-height: 3vw;
	min-width: 11vw;

	height: 3vw;
	width: 11vw;

	border-style: solid;
	border-color: white;
	border-width: 0.2vw;

	text-align: center;

	font-size: 2vw;
	line-height: 150%;

	top: 50%;
  	right: 30%;
  	transform: translate(50%, -50%);
}

#btn:hover{
	border-color: #AAAAAA;
	color: #AAAAAA;
}

#para2{
	line-height: 180%;
	margin-top 50vw;
	font-size: 0.7vw;
}



.txt{
	font-family: 'Roboto', sans-serif;
	
	color:white;
	line-height: 100%;
}

.shad2{
	position:fixed;
	background-color: #000000;
	min-height: 5px;
	min-width: 0.2vw;
	width: 70vw;

	top:40%;
	bottom: 40%;
	vertical-align: center;
	right: 15vw;
	opacity: 0.5;
	z-index: -1;
}

.nav{
	position:fixed;
	background-color: #000000;
	min-height: 5px;
	min-width: 0.2vw;
	width: 10%;
	height: 100%;

	top:0;
	bottom: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 6vw;
	
	color:white;

	padding-top: 50vh;
	line-height: 0%;

	vertical-align: center;
	text-align: center;
	opacity: 0.6;
	z-index: -1;
}

.nav:hover{
	opacity: 0.7;
}

#left{
	left: 0;

}

#right{
	right: 0;
}

#shadow{
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;

	top:0px;
	bottom:0px;
}

